.monitoring{
    display:flex;
    width:100%;
    height:100%;

    .contain{
        background:white
    &.left{
        flex:1;
        position:relative;
        margin-right:8px;
    }
    &.right{
        width:400px;

        .searchbar{
          margin:40px 20px;
        }

        ul li{
         list-style: none;
        }
        .staticlist{
           margin:0 30px;
           color:black;
           font-size:18px;
           font-weight:bold;
           &>li{
            margin 10px 0;
            &>span{
                margin-left:10px;
                color:rgb(94,175,212)
            }
        }
        }    
    }}
}