.data-access-setting {
    display: flex;
    justify-content: space-between;
    .set-main {
        background-color: #ffffff;
        width: 100%;
        .header {
            display: flex;
            justify-content: space-between;
            .data_con {
                width: 201px;
                height: 19px;
                font-size: 16px;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: rgba(1, 4, 15, 1);
                line-height: 48px;
                margin-left: 21px;
            }
            .data_btn {
                margin-right: 20px;
                margin-top: 9px;
                width: 88px;
                height: 30px;
            }
        }
        .search_input {
            width: 240px;
            height: 32px;
            margin-left: 20px;
            margin-top: 30px;
        }
        .table {
            margin-top: 24px;
            margin-left: 20px;
            width: 97%;
            overflow: auto;
        }
        .set_btn {
            padding: 12px;
            float: right;
            overflow: hidden;
        }
    }
}