.dv-images{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dv-images img{
  width: 100%;
  height: 100%;
  }

  .dv-charts{
    .dv-charts-null{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.tables{
    // width:100%;
    // height:100%;

    .chart-table{
        position: relative;
        // padding:16px;

        // .bin-scrollbar__bar.is-vertical{visibility: hidden;}

      .table-content{
        padding:0 16px;
        table-layout:fixed;

        &.table-header{
         background: rgba(255,255,255,0.08);
        }
        &.table-body{
            border-right:1px solid rgba(209, 110, 110, 0.08);
        }
       
        .tbody{
            .bin-scrollbar__wrap{overflow-x:hidden;}
        }

        .data{
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align:center;
            padding:5px 10px;
            &.data-body{
            border-left:2px solid rgba(255,255,255,0.08);
            border-bottom:2px solid rgba(255,255,255,0.08);
            }
        }
    }
}
}