@import "var.styl"
@import "variables.styl"
#app {
  height: 100vh;
  color: $color-text-primary;
  font-size: 14px;
  background-color: $color-main;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body{
  line-height: 0 !important;
}
.pointer{
  cursor: pointer;
}
