@import "var.styl"
@import "variables.styl"
  @import "menugroup.styl"
#app {
  height: 100vh;
  color: $color-text-primary;
  font-size: 14px;
  background-color: $color-main;
  // margin-top: -21px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
// body{
//   line-height: 0 !important;
// }
.pointer{
  cursor: pointer;
}
.m-window {
  position: absolute;
  z-index: 304;
  top: 0;
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  &.mask-transparent {
    background: rgba(0, 0, 0, 0);
  }
}
