// 覆盖ant_degign组件样式
:global {
  .ant-collapse{
    background-color: $color-admin-options-bg;
    border: none;  
  }
  .ant-collapse-content{
    border-top: none ;
  }
  .ant-collapse-content > .ant-collapse-content-box{
    padding-top: 0;
  }
}