@import './ant-design.scss';
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
em {
    font-weight: normal;
}

ul,
li,
u {
    list-style: none;
}

input::-ms-clear {
    display: none;
}

.clear::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    zoom: 1;
}

a:link,
a:visited {
    text-decoration: none;
}

a,
button,
input {
    text-shadow: none;
}

textarea {
    resize: none;
    text-shadow: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#app {
    height: 100%;
    font-size: 14px;
}

p,
ul {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul {
    margin-bottom: 0 !important;
}

.pointer {
    cursor: pointer;
}