.main {
    background-color: #ffffff;
    width: 79%;
    .data_con {
        width: 201px;
        height: 19px;
        font-size: 16px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        color: rgba(1, 4, 15, 1);
        line-height: 48px;
        margin-left: 21px;
    }
    .data_category {
        width: 201px;
        height: 19px;
        font-size: 16px;
        font-family: Microsoft YaHei;
        color: rgba(1, 4, 15, 1);
        line-height: 48px;
    }
    .tab-excel{
        margin-top: 21px;
        margin-left: 21px;
        width: 700px;
        text-align: left;
        .excel-list{
            margin-left: 120px;
            border:1px solid rgba(229,229,229,1);
            width: 530px;
            }
        }
    .tab-empty{
        margin-left: 500px;
        margin-top: 130px;
        width :225px;
        .empty-span{
            // text-align: center;
            margin-left: 20px;
            }
        }
    .tab-datasource {
        margin-top: 21px;
        margin-left: 21px;
        width: 700px;
        text-align: left;
    }
    .btn_sub {
        float: right;
        margin-right: 32px;
        margin-top: 13%;
        width: 88px;
        height: 30px;
    }
    .search_input {
        width: 240px;
        height: 32px;
        margin-left: 20px;
    }
    .search_select {
        width: 240px;
        height: 32px;
        margin-left: 17px;
    }
    .table {
        margin-top: 24px;
        margin-left: 20px;
        width: 97%;
    }
    .bar-all{
        margin-left: 800px;
        }
}

.ant-col-4 {
    text-align: left;
}

.ant-form-explain {
    float: left;
    margin-left: 120px;
}