.model-main{
    position: relative;
    background-color: #ffffff;
        width: 79%;
        .header {
            display: flex;
            justify-content: space-between;
            .data_con {
                width: 201px;
                height: 19px;
                font-size: 16px;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: rgba(1, 4, 15, 1);
                line-height: 48px;
                margin-left: 21px;
            }
            .data_btn {
                width: 188px;
                display: flex;
                justify-content: space-between;
                margin-top: 9px;
                margin-right: 20px;
            }
        }
        .description {
            width: 97%;
            height: 35px;
            margin-left: 20px;
            margin-top: 24px;
            .d-s{
                font-size:14px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(59,60,67,1);
                line-height:48px;
                }
        }
        .detail_header {
            margin-left: 21px;
            height: 50px;
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(1, 4, 15, 1);
            line-height: 48px;
        }
        .detail_main {
            display: flex;
            justify-content: space-around;
            .dimensionality {
                margin-left: 21px;
                width: 50%;
                background: rgba(248, 248, 248, 1);
                .dim_span {
                    font-size:14px;
                    font-family:Microsoft YaHei;
                    font-weight:400;
                    color:rgba(1,4,15,1);
                    line-height:38px;
                    margin-left: 40px;
                }
                .dim_menu {
                    margin-top: 10px;
                }
            }
            .measurement {
                margin-right: 21px;
                width: 50%;
                background: rgba(248, 248, 248, 1);
                .mea_span {
                    font-size:14px;
                    font-family:Microsoft YaHei;
                    font-weight:400;
                    color:rgba(1,4,15,1);
                    line-height:38px;
                    margin-left: 50px;
                }
                .mea_menu {
                    margin-top: 10px;
                }
            }
        }
    }

.ant-col-4 {
    text-align: left;
}

.ant-form-explain {
    float: left;
}
.m-dml-map {
    height: calc(50vh - 150px);
    background: #fff;
}
.m-map {
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    overflow: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 10px solid #f6f6f6;
}
.m-map-hover {
    border: 2px solid #90b9e8;
}
.main-empty{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.65);
}